<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Applications</h1>
    <h2>Your Accounts</h2>
    <ul>


        <% application.forEach(application => { %>
            <li><a href="/users/<%= user._id %>/bank-accounts/<%= application._id %>/show">Dashboard</a></li>
        <% }) %>

        <li><a href="/users/<%=user._id%>/bank-accounts/show/<%= application._id%>">View your Account</a></li>
        <li><a href="/users/<%=user._id%>/bank-accounts/new">Add New card</a></li>

    </ul>
    
</body>
</html>