<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications</title>
</head>
<body>
    <h1>Applications</h1>
    <a href="/users/<%=user._id%>/bank-accounts/new">Add New card</a>
    <h2>Your Accounts</h2>
    <ul>
        <% application.forEach(application => { %>
            <li><a href="/users/<%= user._id %>/bank-accounts/<%= application._id %>"><%= application.type %></a></li>
        <% }) %>
    </ul>
    <a href="/users/<%= user._id %>/bank-accounts/new">Add New card</a>
</body>
</html>