<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Deposit</h1>
    <form action="/applications/<%= application._id %>/deposit" method="POST">
        <label for="amount">Amount</label>
        <input type="number" name="amount" placeholder="Amount">
        <button type="submit">Deposit</button>
    </form>
    <a href="/applications/<%= application._id %>/transactions">Transactions</a>
    <a href="/applications/<%= application._id %>/deposit">Deposit</a>
    <a href="/applications/<%= application._id %>/withdraw">Withdraw</a>
    <a href="/applications/<%= application._id %>/transfer">Transfer</a>
    <a href="/applications/<%= application._id %>/balance">Balance</a>
</body>
</html>