<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing <%= account.name %>'s account</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome <%= user.firstName %></h1>
    <h2>Update Your Account</h2>
    <form action="/users/<%= user._id %>/bank-accounts/<%= account._id %>?_method=PUT" method="POST">
        <label for="name">New account name</label>
        <input type="text" name="name" id="name" value="<%= account.name %>">
        <label for="phoneNumber">New account phone number</label>
        <input type="text" name="phoneNumber" id="phoneNumber" value="<%= account.phoneNumber %>">
        <label for="address">New account address</label>
        <input type="text" name="address" id="address" value="<%= account.address %>">
        <button type="submit">Save edit</button>
    </form>
</body>
</html>