<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show All Account</title>
</head>
<body>
    <h1>Welcome to <%= application.name %> Account</h1>
    <h2>Your Account</h2>
    <ul>
        <li><a href="/applications/<%= application._id %>/transactions">Transactions</a></li>
        <li><a href="/applications/<%= application._id %>/edit">Edit Account</a></li>
        <li><a href="/applications/<%= application._id %>/delete">Delete Account</a></li>
        <li><a href="/applications/<%= application._id %>/deposit">Deposit</a></li>
        <li><a href="/applications/<%= application._id %>/withdraw">Withdraw</a></li>
        <li><a href="/applications/<%= application._id %>/transfer">Transfer</a></li>
        <li><a href="/applications/<%= application._id %>/balance">Balance</a></li>
    </ul>

</body>
</html> 