<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to your dashboard</h1>
    <h2>welcome to your account <%= application.firstName %></h2>
    <p>Your account number is <%= application.accountNumber %></p>
    <p>Your balance is <%= application.balance %></p>
    <p>Your status is <%= application.status %></p>
    <p>Your application date is <%= application.createdAt %></p> 
    <h2>Edit Your Information</h2>
    <ul>
        <li><a href="/users/<%= user._id %>/bank-accounts/<%= application._id %>/edit">Update Your Information</a></li>
    </ul>
    <h2>Delete Your Account</h2>
    <ul> 
        <li><a href="/users/<%= user._id %>/bank-accounts/<%= application._id %>/delete">Delete Your Account</a></li>
    </ul>
</body>
</html> 