<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show All Account</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to <%= application.name %> Account</h1>
    <a href="/applications/<%= application._id %>/transactions">Transactions</a>
    <a href="/applications/<%= application._id %>/edit">Edit Account</a>
    <a href="/applications/<%= application._id %>/delete">Delete Account</a>
    <a href="/applications/<%= application._id %>/deposit">Deposit</a>
    <a href="/applications/<%= application._id %>/withdraw">Withdraw</a>
    <a href="/applications/<%= application._id %>/transfer">Transfer</a>
    <a href="/applications/<%= application._id %>/balance">Balance</a>

</body>
</html>