<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome <%= user.firstName %></h1>
    <h2>Your Cards</h2>
    <ul>
        <% if(cards){ cards.forEach(card => { %>
            <li><a href="/users/<%= user._id %>/bank-accounts/<%= card._id %>/card"><%= card.cardType %></a></li>
        <% }) } %>
    </ul>
<<<<<<< HEAD
=======
    <h2>Your Accounts</h2>
    <ul>
        <% if(account){ account.forEach(account => { %>
            <li><a href="/users/<%= user._id %>/bank-accounts/<%= account._id %>/account"><%= application.accountNumber %></a></li>
        <% }) } %>
    </ul>
    <h2>Update Your Information</h2>
    <ul>
        <li><a href="/users/<%= user._id %>/bank-accounts/<%= account._id %>/edit">Update Your Account</a></li>
    </ul>
    <h2>Delete Your Account and Cards</h2>
    <ul>
        <form action="/users/<%= user._id %>/bank-accounts/<%= account._id %>?_method=DELETE" method="POST">
            <button>Delete Account</button>
        </form>
    </ul>
>>>>>>> a543a4c3ccfd9748fc43ef490ee0fe1574a329f5
</body>
</html>